<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <!--  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
          <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
          <link rel="stylesheet" href="./static/lib/css/dc.min.css">
          <link rel="stylesheet" href="./static/lib/css/leaflet.css">
          <link rel="stylesheet" href="./static/css/custom.css">-->
        <!--  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
          <link href="../static/lib/css/dc.min.css" rel="stylesheet" type="text/css"/>
          <link href="../static/lib/css/keen-dashboards.css" rel="stylesheet" type="text/css"/>
          <link href="../static/lib/css/leaflet.css" rel="stylesheet" type="text/css"/>
          <link href="../static/css/custom.css" rel="stylesheet" type="text/css"/>-->


        <script src="../static/lib/js/jquery.min.js"></script>
        <script src="../static/lib/js/bootstrap.min.js"></script>
        <script src="../static/lib/js/underscore-min.js"></script>
        <script src="../static/lib/js/crossfilter.js"></script>
        <script src="../static/lib/js/d3.min.js"></script>
        <script src="../static/lib/js/dc.min.js"></script>
        <script src="../static/lib/js/queue.js"></script>
        <script src="../static/lib/js/leaflet.js"></script>
        <script src="../static/lib/js/leaflet-heat.js"></script>
        <script src="../static/lib/js/keen.min.js"></script>

        <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/lib/css/dc.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/lib/css/keen-dashboards.css" rel="stylesheet" type="text/css"/>
        <link href="../static/lib/css/leaflet.css" rel="stylesheet" type="text/css"/>

    </head>
    <body class="application">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Kaggle TalkingData Interactive Visualization</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-6">
                    <div class="row">

                        <!-- Time Chart --> 
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Number of Events
                                </div>
                                <div class="chart-stage">
                                    <div id="time-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Time Chart --> 

                        <!-- Brand -->
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Brand
                                </div>
                                <div class="chart-stage">
                                    <div id="phone-brand-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Brand -->


                        <div class="col-sm-6">

                            <div class="row">
                                <!-- Gender -->
                                <div class="col-sm-12">
                                    <div class="chart-wrapper">
                                        <div class="chart-title">
                                            Gender
                                        </div>
                                        <div class="chart-stage">
                                            <div id="gender-row-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gender -->

                            <!-- Age Segment -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="chart-wrapper">
                                        <div class="chart-title">
                                            Age Segment
                                        </div>
                                        <div class="chart-stage">
                                            <div id="age-segment-row-chart"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Age Segment -->
                            </div>
                        </div>


                    </div>
                </div>


                <div class="col-sm-2">
                    <div class="row">

                        <!-- Chinese Province -->  
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Chinese Province
                                </div>
                                <div class="chart-stage">
                                    <div id="location-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Chinese Province -->  
                    </div>
                </div>



                <div class="col-sm-4">

                    <div class="row">
                        <!-- Map -->  
                        <div class="col-sm-12"> 
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Map
                                </div>
                                <div class="chart-stage">
                                    <div id="map" style="width: 400px; height: 380px"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Map -->  
                    </div>

                    <div class="row">
                        <!-- Number of events -->  
                        <div class="col-sm-12"> 
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Number of Events
                                </div>
                                <div class="chart-stage">
                                    <div id="number-records-nd"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Number of events -->  
                    </div>

                </div>

            </div>

        </div>

        <hr>
        <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

        <!--  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
          <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
          <link rel="stylesheet" href="./static/lib/css/dc.min.css">
          <link rel="stylesheet" href="./static/lib/css/leaflet.css">
          <link rel="stylesheet" href="./static/css/custom.css">-->

        <script >
            queue()
                    .defer(d3.json, "corkCity_20.json")
                    .await(makeGraphs);

            function makeGraphs(error, recordsJson) {
//            console.log("json: "+JSON.stringify(recordsJson.features));
                //Clean data
                var records = recordsJson.features;
                //	var dateFormat = d3.time.format("%Y-%m-%d %H:%M:%S");
                var i = 0;
                records.forEach(function (d) {
                    //		d["timestamp"] = dateFormat.parse(d["timestamp"]);
                    //		d["timestamp"].setMinutes(0);
                    //		d["timestamp"].setSeconds(0);
//                    		d["x"] = +d["x"];
//                    d.attributes.ReceivedDate.setMinutes(0);
//                    d.attributes.ReceivedDate.setSeconds(0);
//d.attributes.PlanningAuthority
//d.attributes.Decision
//d.attributes.DecisionDate
                    d.geometry.x = +d.geometry.x;
                    d.geometry.y = +d.geometry.y;
//                    console.log("x:" + d.geometry.x);
//                    console.log("y:" + d.geometry.y);
//                      d["y"] = +d["y"];

                    i += 1;
                });
                console.log("record count: " + i);

                //Create a Crossfilter instance
                var xRecords = crossfilter(records);
                console.log("crossfilter count: " + xRecords.size());

//                //Define Dimensions
                var dateDim = xRecords.dimension(function (d) {
                    return d.attributes.ReceivedDate;
                });
//                console.log("dateDim size: "+dateDim.size());
//                var genderDim = xRecords.dimension(function (d) {
//                    return d["gender"];
//                });
//                var ageSegmentDim = xRecords.dimension(function (d) {
//                    return d["age_segment"];
//                });
//                var phoneBrandDim = xRecords.dimension(function (d) {
//                    return d["phone_brand_en"];
//                });
//                var locationdDim = xRecords.dimension(function (d) {
//                    return d.geometry;
//                });
//                var allDim = xRecords.dimension(function (d) {
//                    return d;
//                });


                //Group Data
                var numRecordsByDate = dateDim.group();
//                var genderGroup = genderDim.group();
//                var ageSegmentGroup = ageSegmentDim.group();
//                var phoneBrandGroup = phoneBrandDim.group();
//                var locationGroup = locationdDim.group();
                var all = xRecords.groupAll();


                //Values to be used in charts
                var minDate = dateDim.bottom(1); //returns the whole record with earliest date
                var maxDate = dateDim.top(1);
                console.log("min: " + JSON.stringify(minDate[0].attributes.ReceivedDate)
                        + " | max: " + JSON.stringify(maxDate[0].attributes.ReceivedDate));

                //Charts
                var numberRecordsND = dc.numberDisplay("#number-records-nd");
                var timeChart = dc.barChart("#time-chart");
//                var genderChart = dc.rowChart("#gender-row-chart");
//                var ageSegmentChart = dc.rowChart("#age-segment-row-chart");
//                var phoneBrandChart = dc.rowChart("#phone-brand-row-chart");
//                var locationChart = dc.rowChart("#location-row-chart");



                numberRecordsND
                        .formatNumber(d3.format("d"))
                        .valueAccessor(function (d) {
                            return d;
                        })
                        .group(all);


                timeChart
                        .width(650)
                        .height(140)
                        .margins({top: 10, right: 50, bottom: 20, left: 20})
                        .dimension(dateDim)
                        .group(numRecordsByDate)
                        .transitionDuration(500)
                        .x(d3.time.scale().domain([minDate[0].attributes.ReceivedDate, maxDate[0].attributes.ReceivedDate]))
                      .elasticY(true)
                        .yAxis().ticks(4);

//                genderChart
//                        .width(300)
//                        .height(100)
//                        .dimension(genderDim)
//                        .group(genderGroup)
//                        .ordering(function (d) {
//                            return -d.value
//                        })
//                        .colors(['#6baed6'])
//                        .elasticX(true)
//                        .xAxis().ticks(4);
//
//                ageSegmentChart
//                        .width(300)
//                        .height(150)
//                        .dimension(ageSegmentDim)
//                        .group(ageSegmentGroup)
//                        .colors(['#6baed6'])
//                        .elasticX(true)
//                        .labelOffsetY(10)
//                        .xAxis().ticks(4);
//
//                phoneBrandChart
//                        .width(300)
//                        .height(310)
//                        .dimension(phoneBrandDim)
//                        .group(phoneBrandGroup)
//                        .ordering(function (d) {
//                            return -d.value
//                        })
//                        .colors(['#6baed6'])
//                        .elasticX(true)
//                        .xAxis().ticks(4);
//
//                locationChart
//                        .width(200)
//                        .height(510)
//                        .dimension(locationdDim)
//                        .group(locationGroup)
//                        .ordering(function (d) {
//                            return -d.value
//                        })
//                        .colors(['#6baed6'])
//                        .elasticX(true)
//                        .labelOffsetY(10)
//                        .xAxis().ticks(4);

//                var map = L.map('map');

//                var drawMap = function () {
//
//                    map.setView([31.75, 110], 4);
//                    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
//                    L.tileLayer(
//                            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//                                attribution: '&copy; ' + mapLink + ' Contributors',
//                                maxZoom: 15,
//                            }).addTo(map);
//
//                    //HeatMap
//                    var geoData = [];
//                    _.each(allDim.top(Infinity), function (d) {
//                        geoData.push([d["latitude"], d["longitude"], 1]);
//                    });
//                    var heat = L.heatLayer(geoData, {
//                        radius: 10,
//                        blur: 20,
//                        maxZoom: 1,
//                    }).addTo(map);
//
//                };
//
//                //Draw Map
//                drawMap();

                //Update the heatmap if any dc chart get filtered
                dcCharts = [timeChart];
//                , genderChart, ageSegmentChart, phoneBrandChart, locationChart];
//
//                _.each(dcCharts, function (dcChart) {
//                    dcChart.on("filtered", function (chart, filter) {
//                        map.eachLayer(function (layer) {
//                            map.removeLayer(layer)
//                        });
//                        drawMap();
//                    });
//                });

                dc.renderAll();

            }
            ;
        </script>


    </body>
</html>
